[submodule "wm"]
	path = wm
	url = https://github.com/sebhajek/dots-wm.git
[submodule "tty"]
	path = tty
	url = https://github.com/sebhajek/dots-tty.git
[submodule "dev"]
	path = dev
	url = https://github.com/sebhajek/dots-dev
